ul.social { 
    list-style: none;
    padding: 0;
}

ul.social li { 
    display: inline;
    margin: 0;
}

.fa { 
    font-size: 25pt;
    color:blanchedalmond;
    padding: 10px;
}

.fa-instagram:hover { 
    color: blue;
}

.fa-linkedin-square:hover {
    color:blue;
}

